In [12]:
import pandas as pd
data1 = pd.read_csv("Data\data1_mercadotecnia.csv") #dataframe desde un csv

In [13]:
data2 = pd.read_json("Data\data2_financiera.json") #dataframe desde un .json

In [14]:
resultado = data1.merge(data2,how='outer')
resultado

                                  NOMBRE  SEMESTRE1  SEMESTRE2
0         CINDY CAROLINA OSORTO CASTILLO       91.0       84.0
1        EMELI YOLIBETH FIGUEROA BONILLA       85.0       94.0
2         FANNY ESTEFANY CHAVEZ GONZALES        NaN        NaN
3            GISSELL ANAHY FLORES TORRES       90.0       84.0
4             IRMA ALICIA ESCOTO MONCADA       93.0       92.0
5          JAQUELIN YAMILETH GOMEZ CALIX       77.0       84.0
6     JOHANA PATRICIA ALMENDARES ORDOÑEZ       95.0       90.0
7          KATERIN YORLENIS BLANCO LAGOS       92.0       90.0
8          KATHIA KARINA LOZANO BARAHONA       85.0       72.0
9          KEIDY PAMELA CARRANZA ESPINAL       91.0       84.0
10            LESLY DANIELA AVILA AMADOR       72.0       75.0
11           MARIELA SARAI LOPEZ HERRERA       83.0       90.0
12      NAIDELYN YIRETH SANCHEZ OSEGUERA       77.0       79.0
13       SUREILY ELISABETH AMADOR DAVILA       77.0       70.0
14         YOCELFY MAYLIN LOPEZ CORRALES       92.0       80.0
15           ANA ELIZETH ARTEAGA ESCOBAR        NaN        NaN
16     ARNOLD HAUDIEL BETANCOURT PACHECO       92.0       90.0
17           DOUGLAS NOE AVILA ALVARENGA       91.0       96.0
18       GUSTAVO ADOLFO FIGUEROA MONCADA       72.0       70.0
19            JOAN EMERSON MEDINA ORTEGA       92.0       86.0
20            KEVIN JAIR ORDOÑEZ ARGUETA       93.0       96.0
21              ORE A SOID AVILA GODINEZ       82.0       76.0
22        VICTOR MANUEL SANCHEZ OSEGUERA       77.0       79.0
23      WALTER ADOLFO MARTINEZ ESCALANTE       21.0        NaN
24   ADRIANA FERNANDA BETANCOURT PACHECO       97.0       99.0
25       ALLISON MABEL MARADIAGA SAUCEDA       81.0      100.0
26        ANA CRISTINA HERNANDEZ JIMENEZ       91.0       85.0
27         CELESTE MONSERRATH CRUZ REYES       71.0       94.0
28        DANIELA PATRICIA VARGAS CASTRO       75.0       96.0
29         DARIELA MEYLIN LOPEZ CORRALES       75.0       77.0
30         DIRIAN SUYAPA IRIAS CABALLERO        2.0       26.0
31           ESTEFANI ITZEL MEDINA LOPEZ       68.0       89.0
32         GEYDI CAROLINA NUÑEZ MARTINEZ       97.0       99.0
33         KATY MARILY ESPINOZA CARBAJAL       65.0       89.0
34           LITZY MABEL VELASQUEZ LOPEZ       57.0       94.0
35       MARCIA MELISSA LAINEZ COLINDRES       63.0       84.0
36            MEYSY YANORI NUÑEZ RAMIREZ       68.0       74.0
37  ROSMERY FERNANDA IZAGUIRRE CONTRERAS       82.0       95.0
38        RUTH ELIZABETH RAMIREZ HERRERA       72.0       98.0
39           RUTH SCARLETH REYES ANTUNEZ       83.0       91.0
40             SARA YANERY FLORES CASTRO       70.0       89.0
41             WENDY VANESA BLANDIN CRUZ       77.0       98.0
42      ANGEL EDUARDO GONZALEZ MONDRAGON       84.0       82.0
43   CARLOS ALEJANDRO CANTILLANO ORDOÑEZ       75.0       94.0
44           ECKER JARED ROSALES SANCHEZ       88.0       92.0
45        EDIXON FABRICIO MUÑOZ CARRANZA       91.0       98.0
46                 EDWIN NOE REYES LOPEZ       75.0       30.0
47        FERNANDO DANIEL BANEGAS ZAVALA       85.0       95.0
48        JAVIER MAURICIO CASTRO CACERES       74.0       97.0
49         JEFRI JONATHAN ANDINO CABRERA       78.0       92.0
50               JESUS ARIEL GOMEZ ZERON       90.0       98.0
51    MICHAEL FERNANDO CONTRERAS HERRERA       96.0       89.0
52        WILSON DANIEL TRUJILLO CACERES       82.0       91.0

In [19]:
 ##Promedio de notas de 1 semestre
resultado.SEMESTRE1.mean()

79.05882352941177

In [20]:
 ##Promedio de notas de 2 semestre
resultado.SEMESTRE2.mean()

85.92

In [26]:
##promedio de notas de todos los alumnos
prom = (resultado.SEMESTRE1.mean() + resultado.SEMESTRE2.mean())/2
prom

82.48941176470589